/* http://www.colorzilla.com/gradient-editor/ */
*{
      transition: max-height linear 1s;
      transition: width linear 1s;
}
    
#header{
    background: hsl(222, 60%, 33%);
    background: #207cca; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #1477c9 0%, #213f86 99%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#1477c9), color-stop(99%,#213f86)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #1477c9 0%,#213f86 99%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #1477c9 0%,#213f86 99%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #1477c9 0%,#213f86 99%); /* IE10+ */
    background: radial-gradient(center, ellipse cover, #1477c9 0%,#213f86 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1477c9', endColorstr='#213f86',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border-bottom: 1px solid hsl(222,56%,42%);
}
#header *{color:whitesmoke;
          text-align: center;}
#anime{
    background: hsl(245, 100%, 4%) url(../images/anime_bg.gif) no-repeat 50% 50%;
    border-bottom: 2px solid rgba(0,0,0,0.75);
    border-top: 3px solid rgba(0,0,0,0.79);
    height:350px;
}
    #anime *{color: hsl(222, 5%, 96%);}
    #anime .row{position: relative;}
    
    #anime .bulletpoints a {
        display: block;
        margin: 5px 0;
        padding:5px 0;
    }
    
    #anime .anime_display {
        background:rgba(0,0,0,0.6);
        color:hsl(222,56%,99%);
        margin-top:00px;
        min-height: 300px;
        text-shadow: none;
        width:410px;
        z-index: 2;
    }
    #anime_text{
        width:300px
    }
    #anime_figure{
        float:right;
        height:300px;
        width:120px;
        background:transparent no-repeat center bottom ;
    }
    #anime_figure.item_acta_1{
        background-image: url(/images/perso_1.gif);
    }
    #anime_figure.item_acta_2{
        background-image: url(/images/perso_2.gif);
    }
    #anime_figure.item_acta_3{
        background-image: url(/images/perso_1.gif);
    }
    #anime_figure.item_acta_4{
        background-image: url(/images/perso_2.gif);
    }
    #anime_figure.item_beyond_1{
        background-image: url(/images/perso_2.gif);
    }
    #anime_figure.item_beyond_2{
        background-image: url(/images/perso_1.gif);
    }
    #anime_figure.item_beyond_3{
        background-image: url(/images/perso_2.gif);
    }
    #anime_figure.item_beyond_4{
        background-image: url(/images/perso_1.gif);
    }
    
    #anime .panel_acta{
        text-align: right;
    }
    #anime #panel_rollover{    
        color: #0F52EF;
        font-size: 8pt;
        left: 0;
        position: absolute;
        text-align: center;
        top: 340px;
        width: 980px;
    }
    
#progress{
    background: #1477c9; /* Old browsers */
    background: -moz-linear-gradient(top,  #1477c9 0%, #213f86 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1477c9), color-stop(99%,#213f86)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #1477c9 0%,#213f86 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #1477c9 0%,#213f86 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #1477c9 0%,#213f86 99%); /* IE10+ */
    background: linear-gradient(top,  #1477c9 0%,#213f86 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1477c9', endColorstr='#213f86',GradientType=0 ); /* IE6-9 */
    border-bottom:2px solid hsl(222,48%,25%);
    border-top:1px solid hsl(222,56%,72%);
}
    #progress *{
        color:whitesmoke;
    }
#support{
    background: hsl(56, 33%, 88%);
    border-bottom:2px solid hsl(56,44%,99%);
    border-top:2px solid hsl(56,44%,99%);
}
#facts{
    border-bottom:1px solid hsl(56,66%,98%);
    border-top:3px solid hsl(56, 20%, 68%);
    background: hsl(56, 33%, 68%);
}
#share{
    background: hsl(222, 59%, 6%);
    border-bottom: 1px solid rgba(0,0,0,0.75);
    border-top: 3px solid rgba(0,0,0,0.6);
}
    #share *{color: hsl(222, 5%, 96%);}
.container-wrapper{padding:10px 0;}
li{list-style: none;}
* label{display:inline;}
.faq{height:350px;overflow: auto;}
#blockfaqsoutien h4{font-size: 10pt;}
.progress_indices{position:relative;}
    .progress_indices .steps{position: relative;}
    .progress_indices .step{display:inline-block;width:24%}
    .progress_indices .step.step_l{position:absolute;right: 0px;;text-align:right;}
    .progress_indices .marks div{float:left;width:33.33%;}
    .progress_indices .marks .start{}
    .progress_indices .marks .middle{text-align:center;}
    .progress_indices .marks .end{float:right;text-align:right;}